/* 
    Document   : mainmaster
    Created on : 26 ธ.ค. 2555, 0:18:30
    Author     : PilotPOL
    Description:
        Purpose of the stylesheet follows.
*/

body{ 
    margin:0px;
    padding:0px;
    min-width:1000px;
    min-height:400px;
    font-family: "Segoe UI","Tahoma";
    font-size:12px;
}
#mainHeader{
    
}
#Logo{
    
}
#Head-space{
    
}
#Login-panel{
    
}
#topNavi{
    
}
#mainContain{
    
}
#left-contain{
    
}
#mainBanner{
    
}
#left-subcontain{
    
}
#left-subcontain-panel{
    
}
#short-navi{
    
}
#categories-panel{
    
}
#right-subcontain-panel{
    
}
#update-news-panel{
    
}
#recomment-panel{
    
}
#webbord-panel{
    
}
#right-contain{
    
}
#welcome-panel{
    
}
#social-panel{
    
}
#review-panel{
    
}

